<!--
  Generated template for the CustomerSupport page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="dark">
    	<ion-title>Suggestions</ion-title>
  	   <ion-buttons end>   
	      <button ion-button large clear color="light" (click)="dismiss()">
	        <ion-icon name="close" ></ion-icon>
	      </button>
       </ion-buttons>
 	</ion-navbar>
</ion-header>


<ion-content padding>
    <ion-item>
  	  	<ion-label color="dark" stacked>What profession should we add next?</ion-label>
     		<ion-textarea rows="5" placeholder="Barista, Blogger, Writer, Video Editor, etc ..." [(ngModel)]="input"></ion-textarea>
   	</ion-item>
	 	<button ion-button full block class="submit-btn" (click)="submitQuery(input)"> SUBMIT </button>
</ion-content>


<ion-footer>
  <ion-toolbar color="dark">
    <ion-title class="footer-title">Rakit</ion-title>
    <ion-note class="note"><a (click)="toPrivacy(0)"> <u>Terms of use</u></a>, <a (click)="toPrivacy(1)"> <u>Privacy Policy</u></a></ion-note>
  </ion-toolbar>
</ion-footer> 