<!--
  Generated template for the NotificationsBids page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  	  <button ion-button icon-only item-right clear (click)="dismissBids()" class="btn-close">
        <ion-icon name="close" color="dark"></ion-icon>  
      </button>

	<ion-slides pager="true" effect="cube" paginationType="fraction"  class="padding-40">

		<ion-slide *ngFor="let interestedProfile of job.tempInterested">	
				<ion-item no-padding class="stayTop">
					<ion-grid class="stayTop">
						<ion-row >
						     <ion-col width-25>
							     <ion-avatar>
							     	 <img cache="true" class="artist-img" [src]="interestedProfile.profile?.photoURL">
							     </ion-avatar>
							 </ion-col>
							 <ion-col width-75>
							     <h2> {{interestedProfile.profile?.name}} <!-- <ion-icon name="checkmark-circle" color="secondary"></ion-icon> --></h2>
							     <p>{{interestedProfile.profile?.profession}}</p> 
							     <p><rating [(ngModel)]="interestedProfile.meanStarCountArtist"
							            [max]="5"
							            [readonly]="true">
							    	 </rating>
							    	({{interestedProfile.reviews?.length}}) </p>
							   
							     <h2>Bid: &#x20B1; {{interestedProfile.bid}}	</h2>				  
						     </ion-col>						  
						</ion-row>

						<ion-row>
							  <ion-segment [(ngModel)]="profileSegment" color="dark">
							      <ion-segment-button value="Wall" >
							      Wall
							      </ion-segment-button>
							      <ion-segment-button value="About">
							       About
							      </ion-segment-button>

							       <ion-segment-button value="Reviews">
							       Reviews
							      </ion-segment-button>
							    </ion-segment>	
						</ion-row>

						<div [ngSwitch]="profileSegment">
							<div *ngSwitchCase="'Wall'">
								<ion-row>
									<ion-col>
										<iframe class="video-utube"
										 *ngIf="interestedProfile.profile?.sanitizedVideo"
										 [src]="interestedProfile.profile?.sanitizedVideo" frameborder="0" allowfullscreen></iframe>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col width-50 *ngIf="interestedProfile.profile?.uploads">
										<img *ngIf="interestedProfile.profile?.uploads[0]" (click)="enlargeImage(interestedProfile.profile?.uploads[0].link)" class="bwall-img" cache="true"  [src]="interestedProfile.profile?.uploads[0].link">
									</ion-col>
									<ion-col width-50 *ngIf="interestedProfile.profile?.uploads">
										<img *ngIf="interestedProfile.profile?.uploads[1]" (click)="enlargeImage(interestedProfile.profile?.uploads[1].link)" class="bwall-img" cache="true"  [src]="interestedProfile.profile?.uploads[1].link">
									</ion-col>
								</ion-row>

								<ion-row>
								<ion-col width-50 *ngIf="interestedProfile.profile?.uploads">
									<img *ngIf="interestedProfile.profile?.uploads[2]" (click)="enlargeImage(interestedProfile.profile?.uploads[2].link)" class="bwall-img" cache="true" [src]="interestedProfile.profile?.uploads[2].link">
								</ion-col>
									<ion-col width-50 *ngIf="interestedProfile.profile?.uploads">
										<img *ngIf="interestedProfile.profile?.uploads[3]" (click)="enlargeImage(interestedProfile.profile?.uploads[3].link)" class="bwall-img" cache="true" [src]="interestedProfile.profile?.uploads[3].link">
									</ion-col>
								</ion-row>
							</div>

							<div *ngSwitchCase="'About'">
								<ion-row>
									<ion-col padding>
										
   										 <h2 color="primary" stacked>About the artist</h2>
   											 <p class="long-desc">{{interestedProfile.profile?.aboutMe}}</p>
   												
   												<hr/>
										<h2 color="primary" stacked>Email</h2>
											<p>{{interestedProfile.profile?.email}}</p>
												<hr/>
										<h2 color="primary" stacked>Phone</h2>
											<p>{{interestedProfile.profile?.phone}}
												<a (click)="callNumber(interestedProfile.profile?.phone)"  class="float-right">
													<ion-icon name="call" class="call-artist"> </ion-icon>
												</a>
											</p>

												<hr/>
										
										<h2 color="primary" stacked>Jobs Completed</h2>
											<p>{{interestedProfile.profile?.jobsCompleted}}</p>

									</ion-col>
								</ion-row>				
							</div>

							<div *ngSwitchCase="'Reviews'">
								<ion-row>
									<ion-col>
										<ion-list class="review-list">
											<ion-item *ngFor="let reviews of interestedProfile.reviews">
												<ion-avatar item-left>
											     	 <img cache="true" [src]="reviews.photoURL">
											     </ion-avatar>
			   								   	 <h2> {{reviews.name}} - <ion-badge color="orange" class="float-right">{{reviews.star}} Stars</ion-badge></h2>
			   								   	 <pre> {{reviews.review}}</pre>
			   								
										    </ion-item>
										    <ion-item *ngIf="interestedProfile.reviews.length==0" id="notif-alert">
											    <h2>No reviews yet </h2>
												<ion-icon id="alert-icon" name="alert" color="danger" item-end></ion-icon> 
											</ion-item>										     					
										</ion-list>
									</ion-col>
								</ion-row>	

										
							</div>
						</div>

						<ion-row>
							
							<button ion-button full item-right class="hire-me" 
							(click)="presentAlert( interestedProfile.profile?.name, interestedProfile.profile?.uid, interestedProfile.profile?.photoURL, interestedProfile.bid)">HIRE {{interestedProfile.profile?.name}}</button>
						
						</ion-row>	
					</ion-grid>			
				</ion-item>				
		</ion-slide>

	</ion-slides>
</ion-content>
