page-notifications-bids {
	.padding-40{padding-top:30px}
		.scroll-content{overflow:hidden}
	
	.artist-img{height:60px !important; width:60px !important; margin:0 auto; display:block; }
	.btn-close{position:absolute; right:0; top: 7px; z-index:99}
	.item-ios.item-block .item-inner{border-bottom:0}
	.bwall-img {    width: 100%;    height: auto;    max-width: 100%;    max-height: 120px;}

	.stayTop{position:absolute; height:100%; width:100%; top:0}
	.item-ios p.long-desc, .item-md p.long-desc{white-space: normal; max-height:155px; overflow:auto;}
	.btn-hire{margin:0 !important; float:right}

	.review-list{   height: 100%;   max-height: 420px; overflow: auto;}
	.video-utube{width:100%; height: auto; margin:0 auto; display:block}
	.hire-me{background-image: url(../assets/img/button.png); background-size: cover; background-repeat: no-repeat;}

	.call-artist{font-size: 25px}
	#alert-icon{
		position: absolute;
	    right: 18px;
	    top: 0px;
	}
	#notif-alert{
		position: relative;
	}
	@media (max-height: 568px){
		.review-list{  max-height: 335px;}
		.item-ios p.long-desc, .item-md p.long-desc{ max-height:75px; }
		.video-utube{width:300px !important; height: 120px; margin:0 auto; display:block}

	}
}
