<ion-content class="login-page" no-bounce scrollY="false">

<!--  <h1 padding color="orange">Your hyperlocal marketplace for Artists</h1> -->

    <div class="login-options-container">
      <button ion-button round color="dark" (click)="login()"> {{buttonName}}</button>
	</div>
	<p>{{online$ | async}}</p>
</ion-content>
