page-login {
	.login-page{height:100%; width:100%;background-image:url(../assets/img/login-bkg.png); background-size:cover; background-repeat:no-repeat; background-position:center}
		.login-page img{margin-top:8%}
		.login-page h1,h5{ text-align:center; margin-top:0}
		.login-page{}

	.login-options-container{position:absolute; bottom:30px; width:100%; }
		.login-options-container button{margin: 0 auto; display: block; margin-bottom: 60px; }
}
