<ion-header>
  <ion-navbar color="dark">
    <ion-title>Job Details</ion-title>

      <ion-buttons end>   
      <button ion-button large clear color="light" (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>   
</ion-header>

<ion-content no-bounce>
<div #maps id="maps"></div>
<ion-list class="job-offer-list">
 	 <img class="prof-pic vjo" [src]="jobDetails.by.photoURL">

	  <ion-list-header>
	   <ion-icon name="contact"></ion-icon> {{jobDetails.by.name}} <span item-right> <ion-icon name="card"></ion-icon> CASH </span>
	  </ion-list-header>

	  	<ion-grid>
	  		<ion-row *ngIf="jobDetails.hired">
				<ion-col>
				  <ion-item no-padding>
				    <ion-label stacked><ion-icon name="contact"></ion-icon> Hired: &#x20B1; {{jobDetails.hired.bid}}
				    	<rating [(ngModel)]="starsCount"
				            [max]="5"
				            [readonly]="false">
				    	 </rating>
				    </ion-label>
				 	<span item-right>{{jobDetails.hired.profile?.name}}
				 		<img class="hired-prof-pic" [src]="jobDetails.hired.profile?.photoURL">
				 	</span>
				  </ion-item>
				</ion-col>
			</ion-row>
	  		<ion-row *ngIf="jobDetails.status=='Completed'">
				<ion-col col-10>
				  <ion-item no-padding>
				    <ion-label stacked><ion-icon name="contact"></ion-icon> Review:
				    	
				    	
				    </ion-label>
				    <ion-input *ngIf="jobDetails.status=='Completed'" type="text" [(ngModel)]="review" placeholder="He did the job well"></ion-input>
				    
				 	
				 	
				  </ion-item>
				</ion-col>
				<ion-col no-padding>
					<span item-right style="display:table;height:100%;">
						<div style="display:table-cell;vertical-align:middle;">
							<div id="rvw-button">
					 			<ion-icon name="add-circle" id="send" *ngIf="jobDetails.hired.profile?.uid" item-end (click)="sendReview(review, jobDetails.hired.profile.uid )"></ion-icon>
					 		</div>
					 		
					 		<span>Review</span>
						</div>
				 		
				 	</span>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
				  <ion-item no-padding>
				    <ion-label stacked><ion-icon name="search"></ion-icon>  Artist needed: </ion-label>
				 	 <ion-input type="text" [(ngModel)]="jobDetails.subcatId" disabled></ion-input>
				  </ion-item>
				</ion-col>
			</ion-row>

		<ion-item class="padding-5">
	 		<ion-row no-padding> 
				<ion-col>
					<p color="dark" stacked><ion-icon name="call"></ion-icon> Contact Details: </p>
   					<p class="long-desc item-val"> {{jobDetails.by.phone}} </p>								
				</ion-col>
			</ion-row>	
		</ion-item>

		<ion-item class="padding-5">
	 		<ion-row no-padding> 
				<ion-col>
					<p color="dark" stacked><ion-icon name="compass"></ion-icon> Job Location :</p>
   					<p class="long-desc item-val">{{jobDetails.address}}</p>								
				</ion-col>
			</ion-row>	
		</ion-item>

	
		<ion-row>
			<ion-col col-50>
			  <ion-item no-padding>
			    <ion-label stacked><ion-icon name="calendar"></ion-icon>  Date : </ion-label>
			 	 <ion-input type="text" [(ngModel)]="jobDetails.dateWanted" disabled></ion-input>
			  </ion-item>
			</ion-col>

			<ion-col col-50>
			  <ion-item no-padding>
			    <ion-label stacked><ion-icon name="time"></ion-icon> Time : </ion-label>
			   <ion-input type="text" [(ngModel)]="jobDetails.timeWanted" disabled></ion-input>
			  </ion-item>
			 </ion-col>
		</ion-row>
		
		<ion-item class="padding-5">
	 		<ion-row no-padding> 
				<ion-col>
					<p color="dark" stacked>&#x20B1; Job Price: </p>
   					<p class="long-desc item-val">{{jobDetails.budget}}</p>								
				</ion-col>
			</ion-row>	 
		</ion-item>

	 	<ion-item class="padding-5">
	 		<ion-row no-padding>
				<ion-col>
					 <p color="dark" stacked><ion-icon name="create"></ion-icon> Job Description :</p>
   						<pre class="long-desc item-val">{{jobDetails.description}}</pre>								
				</ion-col>
			</ion-row>	
	  	</ion-item>

	  	<ion-item class="padding-5">
	 		<ion-row no-padding>
				<ion-col>
					 <p color="dark" stacked><ion-icon name="create"></ion-icon> Perks :</p>
   						<pre class="long-desc item-val">{{jobDetails.perks}}</pre>								
				</ion-col>
			</ion-row>	
	  	</ion-item>
	  </ion-grid>

	</ion-list>

		<ion-row>
			<ion-col>
				<button ion-button full icon-only class="book-now-btn" (click)="dismiss()" >
        			BACK
      			</button>
			</ion-col>
		</ion-row>
		
</ion-content>	