page-job-details {
		.book-now-btn{background-image: url(../assets/img/button.png); background-size: cover; background-repeat: no-repeat;color:white}
		.long-desc{white-space: pre; margin-top: 5px}
		.padding-5{padding-left:0px}
			.job-offer-list{margin-bottom: 10px !important}
		.scroll-content{overflow-y: auto;}
		a{text-decoration: none}
			.vjo{margin-top: 10px;}
		.close-btn{position: absolute;   right: 0;    top: -10px;}
		#maps{
			width: 100%;
			height: 50%;
		}
		#rvw-button{
			text-align: center;
    		max-height: 60px;
		}
		.hired-prof-pic{ width: 40px; height: 40px; border-radius: 50%; border: 3px solid white; margin: auto; display: block;
		}
		#send{font-size: 20px;}
}
