tips {
	.main{background-image: url(../assets/img/verify.png); height: 100%; width:100%;background-size:cover; background-repeat:no-repeat;}


	.note{font-size:18px; color:white; margin-top:50% !important; text-align: center;}

	.done-btn{    position: absolute;    width: 250px;    height: 46px;    bottom: 100px;    margin: 0 auto;    display: block;    left: 0;    right: 0;}

	.item-inner{ border-bottom: none !important;}
	.header{ background: transparent; }
		.header-tip{ border-bottom: 0.55px solid #c8c7cc; margin-bottom: 20%; }
	ion-slides{ height: 49%}

	.swiper-pagination.swiper-pagination-fraction{ color: white; }
}
