<!--
  Generated template for the BookingSuccess page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding no-bounce class="main">
				

	<ion-slides pager="true" effect="slide" paginationType="fraction"  class="padding-40">
		<ion-slide *ngFor="let tips of tipsList">
			<ion-item no-padding class="stayTop header">
				<ion-grid class="stayTop">
					<ion-row class="header-tip">
						<ion-col>
							<h2 class="note">
								{{tips.$value}}
							</h2>
						</ion-col>
					</ion-row> 
				</ion-grid>
			</ion-item>
		</ion-slide>
		
	</ion-slides>
	<button ion-button color="secondary" round block large class="done-btn" [disabled]="buttonIs" (click)="done()">RAK</button>
	
</ion-content>
