page-full-image {
	.transparent{background-color: transparent; border-color: transparent;}
		
		
		.pp{width: auto; height: auto;}

		.save-btn{margin-top:20px;}
		.logout-btn{left: 0; right: 0; bottom: 0px}

		@media (min-width: 320px){
			.profile{background-position-y:0 }
				.whoami{margin-bottom: -3px !important}
		}

		@media (min-width: 375px){

			.whoami{margin-bottom: 18px !important}
		}
}
