<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="transparent" color="dark">
  
  <ion-navbar color="dark">
  	   <ion-buttons end>   
	      <button ion-button large clear color="light" (click)="closePage()">
	        <ion-icon name="close" ></ion-icon>
	      </button>
       </ion-buttons>
 	</ion-navbar>
</ion-header>


<ion-content no-bounce class="profile">
        <img class="pp" [src]="image">
         

        


              
</ion-content>
