page-create-job-offer {
	.job-offer-container{bottom:0; width:100%; background-color:white}
		.job-offer-list{margin-bottom:5px}

	.scroll-content{overflow-y:auto !important}
		.amount-input{width:25%}
		.confirm-btn{margin-bottom:0; margin-top:0; background-image: url(../assets/img/button.png); background-size: cover; background-repeat: no-repeat;}

		.padding-5{padding-left:10px}

	.map-container{width:100%; height:50%}
	#map{
		width: 100%;
		height: 50%;
	}
	}
