<ion-header>

  <ion-navbar color="dark">
    <ion-title>Book A Talent</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<!-- 	<ion-img src="assets/img/map.png" class="map-container" (click)="viewMap()"></ion-img>
 -->	
 	<div #map id="map"></div>
 	<ion-scroll scrollY="true" style="width: 100%; height: 50%;">
	<form [formGroup]="bookTalentForm" (ngSubmit)="submitForm(bookTalentForm.valid , bookTalentForm.value)">
	<div class="job-offer-container">
		<ion-list class="job-offer-list">
		  <ion-list-header>
		   {{subcatName}} Category <span item-right> <ion-icon name="card"> </ion-icon> CASH </span>
		  </ion-list-header>
			<ion-item class="padding-5">
			  <ion-label>  <ion-icon name="search"></ion-icon> I'm looking for :</ion-label>
			  <ion-select [formControl]="bookTalentForm.controls['booking_talent']" (ngModelChange)="onChange($event)" name="talent">
			    <ion-option *ngFor="let c of subCat" [value]="c.display" selected="c[index].selected">{{c.display}}</ion-option>
			  </ion-select>
			</ion-item>

			<ion-item class="padding-5">
			    <ion-label stacked><ion-icon name="compass"></ion-icon> Location : </ion-label>
			    <ion-input type="text" id="address" placeholder="Where will the job take place?" [formControl]="bookTalentForm.controls['booking_location']"></ion-input>
			    <ion-label stacked color="danger">*Drag the marker or type the address</ion-label>
			</ion-item>

			<ion-grid>
			<ion-row>
				<ion-col col-50>
				  <ion-item no-padding>
				    <ion-label stacked><ion-icon name="calendar"></ion-icon>  Date : </ion-label>
				 	 <ion-datetime displayFormat="MMM DD, YYYY" min="2017" max="2019" placeholder="Jan 1, 2017" [formControl]="bookTalentForm.controls['booking_date']"></ion-datetime>
				  </ion-item>
				</ion-col>

				<ion-col col-50>
				  <ion-item no-padding>
				    <ion-label stacked><ion-icon name="time"></ion-icon> Time : </ion-label>
				   <ion-datetime displayFormat="hh:mm A" placeholder="10:45 AM" [formControl]="bookTalentForm.controls['booking_time']"></ion-datetime>
				  </ion-item>
				 </ion-col>
			</ion-row>
			</ion-grid>

			<ion-grid>
				<ion-row>
					<ion-col col-50>
					  <ion-item no-padding>
					    <ion-label stacked>&#x20B1; Budget starts at : </ion-label>
					 	  <ion-input type="number" pattern="[0-9]*" placeholder="250" [formControl]="bookTalentForm.controls['booking_budget_start']"></ion-input>
					  </ion-item>
					</ion-col>

					<ion-col col-50>
					  <ion-item no-padding>
					    <ion-label stacked>&#x20B1; Budget stops at : </ion-label>
					 	  <ion-input type="number" pattern="[0-9]*" placeholder="10,000" [formControl]="bookTalentForm.controls['booking_budget_end']"></ion-input>
					  </ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>

		 	<ion-item class="padding-5">
		    	<ion-label stacked><ion-icon name="create"></ion-icon> Booking Description : </ion-label>
		    	<ion-textarea rows="2" placeholder="{{holderVal}}" [formControl]="bookTalentForm.controls['booking_description']"></ion-textarea>
		  	</ion-item>
		  	<ion-item class="padding-5">
		    	<ion-label stacked><ion-icon name="create"></ion-icon> Perks : </ion-label>
		    	<ion-textarea rows="2" placeholder="{{perks}}" [formControl]="bookTalentForm.controls['perks']"></ion-textarea>
		  	</ion-item>
		</ion-list>
		<button ion-button full large class="confirm-btn" >NEXT</button><!-- (click)="validateBooking()" -->

	</div>
	</form>
	</ion-scroll>
</ion-content>
