<!--
  Generated template for the Notifications page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Reviews</ion-title>
    <ion-buttons end>   
      <button ion-button large clear color="light" (click)="closePage()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-card *ngFor="let review of reviews">
	    <ion-card-content>
        <ion-row>
          <ion-col col-20>
            <ion-avatar item-left>
              <img cache="true" id="rvw-img" [src]="review.photoURL">
            </ion-avatar>
          </ion-col>
          <ion-col col-10>
            <h2> {{review.name}} - <ion-badge color="orange" class="float-right">{{review.star}} Stars</ion-badge></h2>
            <pre> {{review.review}}</pre>
          </ion-col>
        </ion-row>
        
	     
	    </ion-card-content>
	</ion-card>
  <ion-card>
    <ion-card-content *ngIf="reviews.length==0" id="notif-alert">  
      <h2>Reviews go here </h2>
      <ion-icon id="alert-icon" name="alert" color="danger" item-end></ion-icon>  
    </ion-card-content>
  </ion-card>

</ion-content>
