
page-reviews {
	
	.scroll-content{overflow-y: auto !important}
	#rvw-img{ height: 60px !important; width: 60px !important; display: block; border-radius: 50%;}
	#alert-icon{
		position: absolute;
	    right: 18px;
	    top: 18px;
	}
	#notif-alert{
		position: relative;
	}
}
