page-customer-support {
	.submit-btn{background-image: url(../assets/img/button.png); background-size: cover; background-repeat: no-repeat;color:white}
		.note{font-size: 10px;    margin: 0 auto;    display: block;    text-align: center;    margin-top: 10px;}
		.footer-title > .toolbar-title.toolbar-title-ios{font-size: 12px;    top: 5px;    position: absolute;    left: 0;    right: 0;}
}
