<!--
  Generated template for the CustomerSupport page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="dark">
    	<ion-title>Privacy Policy</ion-title>
  	   <ion-buttons end>   
	      <button ion-button large clear color="light" (click)="dismiss()">
	        <ion-icon name="close" ></ion-icon>
	      </button>
       </ion-buttons>
 	</ion-navbar>
</ion-header>


<ion-content padding>

      <h3>Here is a Summary of Rakit’s Terms of Use:</h3>
      <ul>
        <li>You agree to be 18 years of age before using applying for a job in Rakit.</li>
        <li>You agree to adhere to your countries rules and regulations of employment.</li>
        <li>You are solely responsible for protecting your own account and other account information.</li>
        <li>You can’t use Rakit to steal music or other content.</li>
        <li>You agree to not use or post or use other people's creations as your own.</li>
        <li>Do not use Rakit if you do not agree to the Terms of Use described below. Your use of Rakit means you agree to these Terms of Use.</li>
      </ul>

</ion-content>


<ion-footer>
  <ion-toolbar color="dark">
    <ion-title class="footer-title">Rakit</ion-title>
    <!--  -->
  </ion-toolbar>
</ion-footer> 