page-profile {
	.transparent{background-color: transparent; border-color: transparent;}
		.profile{background-image: url(../assets/img/joblist-bkg.png); background-size: contain; background-repeat: no-repeat; background-position: top center; height: 100%; width: 100%;    background-position-y: -40px;}
		.pp{width: 80px; height: 80px}

		.save-btn{margin-top:20px;}
		.logout-btn{left: 0; right: 0; bottom: 0px}

		@media (min-width: 320px){
			.profile{background-position-y:0 }
				.whoami{margin-bottom: -3px !important}
		}

		@media (min-width: 375px){
			.pp{width: 90px; height: 90px}

			.whoami{margin-bottom: 18px !important}
		}
}
