<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="transparent" >
  
  <ion-buttons end>   
      <button ion-button large clear color="light" (click)="closePage()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
</ion-header>


<ion-content no-bounce class="profile">
        <img class="prof-pic pp" [src]="userAf?.photoURL">
         <h3 class="whoami">{{userAf?.name}}</h3>

        <ion-list padding>

          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text"  [value]="userAf?.name" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Phone</ion-label>
            <ion-input type="number" [(ngModel)]="userInfo.phone" placeholder="0927-XXX-XXXX"></ion-input>
            <ion-label stacked color="danger" *ngIf="userInfo.phone==''">Artists will call you with this number</ion-label>
          </ion-item>


          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" [value]="userAf?.email" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Affilations</ion-label>
            <ion-input type="email" [(ngModel)]="userInfo.affiliations" placeholder="Marketing Head of xyz, Student, etc."></ion-input>
            <ion-label stacked color="danger" *ngIf="userInfo.affiliations==''">Artists will know who you are</ion-label>
          </ion-item>

          <button padding ion-button clear round color="dark" block class="save-btn" (click)="save()">SAVE</button>

           <button padding ion-button clear round color="danger" block class="logout-btn" (click)="logout()">logout</button>

        </ion-list>


              
</ion-content>
