<ion-header>
  <ion-navbar color="dark">
    <ion-title>Booking Summary </ion-title>
  </ion-navbar>   
</ion-header>

<ion-content no-bounce>
<ion-list class="job-offer-list">
	  <ion-list-header>
	   {{subcatName}} category <span item-right> <ion-icon name="card"></ion-icon> CASH </span>
	  </ion-list-header>
			<ion-item class="padding-5">
		    <ion-label stacked><ion-icon name="search"></ion-icon> You are looking for : {{bookDetails.booking_talent}}</ion-label>
		    <ion-input type="text" value="Solo singer" [(ngModel)]="bookDetails.booking_talent" disabled></ion-input>
		</ion-item>


		<ion-item class="padding-5">
		    <ion-label stacked><ion-icon name="compass"></ion-icon> Location : </ion-label>
		    <ion-input type="text" value="San Labrador Church, Initao" [(ngModel)]="bookDetails.booking_location" disabled></ion-input>
		</ion-item>

		<ion-grid>
		<ion-row>
			<ion-col col-50>
			  <ion-item no-padding>
			    <ion-label stacked><ion-icon name="calendar"></ion-icon>  Date : </ion-label>
			 	 <ion-input type="text" value="MAR 15, 2017" [(ngModel)]="bookDetails.booking_date" disabled></ion-input>
			  </ion-item>
			</ion-col>

			<ion-col col-50>
			  <ion-item no-padding>
			    <ion-label stacked><ion-icon name="time"></ion-icon> Time : </ion-label>
			   <ion-input type="text" value="10:30 AM" [(ngModel)]="bookDetails.booking_time" disabled></ion-input>
			  </ion-item>
			 </ion-col>
		</ion-row>
		</ion-grid>

		<ion-grid>
			<ion-row>
				<ion-col col-50>
				  <ion-item no-padding>
				    <ion-label stacked>&#x20B1; Your budget starts at : </ion-label>
				 	  <ion-input type="tel" pattern="[0-9]*" value="500 PESOS" [(ngModel)]="bookDetails.booking_budget_start" disabled></ion-input>
				  </ion-item>
				</ion-col>

				<ion-col col-50>
				  <ion-item no-padding>
				    <ion-label stacked>&#x20B1; Your budget stops at : </ion-label>
				 	  <ion-input type="tel" pattern="[0-9]*" value="1500 PESOS" [(ngModel)]="bookDetails.booking_budget_end" disabled></ion-input>
				  </ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>

	 	<ion-item class="padding-5">
	    	<ion-label stacked><ion-icon name="create"></ion-icon> Booking Description : </ion-label>
	    	<ion-textarea rows="4" value="I need someone who can sing for my cousin's wedding, you can bring 1 buddy if you wish. We will cater the fare as well" [(ngModel)]="bookDetails.booking_description" disabled></ion-textarea>
	  	</ion-item>
	</ion-list>
		

		<ion-grid>
		<ion-row>
			<ion-col col-50>
				<button ion-button full icon-only (click)="dismiss()" color="light">
        			CANCEL
      			</button>
			</ion-col>
			<ion-col col-50>
				<button ion-button full icon-only class="book-now-btn" (click)="getUser()" >
        			BOOK NOW
      			</button>
			</ion-col>
		</ion-row>
		</ion-grid>

</ion-content>	