modal-bookingOfferModal{
	.padding-5{padding-left:10px}

		.book-now-btn{background-image: url(../assets/img/button.png); background-size: cover; background-repeat: no-repeat;color:white}
		.back-button.show-back-button{display:none !important;}
}