// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


@font-face {    font-family: 'gothamBlack';    src: url(/assets/fonts/GothamHTF-Black.otf); font-weight: normal; font-style: normal;}
@font-face {    font-family: 'gothamBold';    src: url(/assets/fonts/GothamHTF-Bold.otf); font-weight: normal; font-style: normal;}
@font-face {    font-family: 'gothamBook';    src: url(/assets/fonts/GothamHTF-Book.otf); font-weight: normal; font-style: normal;}
@font-face {    font-family: 'gothamMedium';    src: url(/assets/fonts/GothamHTF-Medium.otf); font-weight: normal; font-style: normal;}

/*html,p,h1,h2,h3,h4,h5,h6,button,span,ion-segment-button, label{ font-family: 'gothamBook'}

ion-title{font-family: 'gothamBook'}*/


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  orange:     #ffb347,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
