// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.back-button.show-back-button{color:#fff!important}

.prof-pic{    width: 75px;    height: 75px;    border-radius: 50%; border:3px solid white;    margin: auto;    display: block;}
.whoami{text-align: center; margin-top: 10px !important; color:white; font-size: 16px;margin-bottom: 10px !important}
.user-container{background-color:orange; background-image: url(../assets/img/joblist-bkg.png); background-size: cover; background-position: center;  }
.scroll-content{overflow-y: hidden;}
.btn-sidemenu{padding-top: 10px; padding-bottom: 10px}
ion-content{background-color: floralwhite}
.white-bg{background-color: 	white}
.float-right{float:right;}