<ion-menu [content]="content" type="overlay">

  <ion-content>
    <ion-list>
      <ion-item *ngIf="userInfo" class="user-container">
          <img class="prof-pic" *ngIf="userInfo" [src]="userInfo?.image">
          <h2 class="whoami">{{userInfo?.name}}</h2>
      </ion-item>


      <button class="btn-sidemenu" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left name="{{p.icon}}"></ion-icon>  {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" color="dark">

</ion-nav>