<!--
  Generated template for the Notifications page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

	<ion-card *ngFor="let jobs of open">
	  <ion-card-content (click)="previewInterested( jobs )">	
	  	<h2>Looking for {{jobs.subcatId}}</h2>    
	  	<h4> &#x20B1; {{jobs.low}} - &#x20B1; {{jobs.high}} <ion-badge color="orange" class="float-right" *ngIf="jobs.tempInterested">{{jobs.tempInterested.length}} interested</ion-badge></h4>
	  	<p>{{jobs.status}}, {{processDate(jobs.created_at) | amTimeAgo}} </p>  	
	  </ion-card-content>
	</ion-card>
	<ion-card>
	  <ion-card-content *ngIf="open.length==0" id="notif-alert">	
	  	<h2>Jobs with number of interested artists go here </h2>
	  	<ion-icon id="alert-icon" name="alert" color="danger" item-end></ion-icon> 	
	  </ion-card-content>
	</ion-card>

	<!-- 

	<ion-card>
	  <ion-card-content (click)="previewInterested()">	
	  	<h2>Looking for graphic designer </h2>    
	  	<h4> &#x20B1; 800 - &#x20B1; 1200 <ion-badge color="orange" class="float-right">7 interested</ion-badge></h4>
	  	<p>Open, posted 3 hours ago </p>  	
	  </ion-card-content>
	</ion-card>

	<ion-card>
	  <ion-card-content (click)="previewInterested()">	
	  	<h2>Looking for chef </h2>    
	  	<h4> &#x20B1; 500 - &#x20B1; 1000 <ion-badge color="orange" class="float-right">12 interested</ion-badge></h4>
	  	<p>Open, posted 3 hours ago </p>  	
	  </ion-card-content>
	</ion-card> -->

</ion-content>
