<ion-header>
  <ion-navbar  color="dark">
    <button ion-button menuToggle="left">
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title>Find Artists</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goNotifs()">
        <!-- <ion-badge color="danger" class="unread-notifs">&nbsp;</ion-badge> -->
        <ion-icon name="notifications" color="light"></ion-icon>  
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding *ngIf="userInfo">
      <ion-row (click)="goOrder(0)" class="category-main music">
            Music Artists
       </ion-row>

        <ion-row (click)="goOrder(1)" class="category-main photography">
            Photography
        </ion-row>
      

     
        <ion-row (click)="goOrder(2)" class="category-main gd">
          Art
        </ion-row>
        <ion-row (click)="goOrder(3)" class="category-main ca">
          Food
        </ion-row>


      <ion-row>
        <h6>  more rakets coming soon </h6>
      </ion-row>

  </ion-grid>
</ion-content>

