page-page1 {
	ion-grid::webkit-scrollbar{display:none}
	.category-main{height:100px;background-size: cover; color: white; font-size: 24px; text-align:right; margin: 5px 0; background-repeat: no-repeat;text-shadow: 2px 2px #000000;    padding-top: 33px;
    padding-left: 15px;}
    h6{text-align: center; margin: 10px auto; display: block;}
		.music{background-image: url(../assets/img/music-artis.png); margin-top:10px;}
		.photography{background-image: url(../assets/img/photography.png);}
		.gd{background-image: url(../assets/img/graphic-designer.png);}
		.ca{background-image: url(../assets/img/culinart.png);}
				.unread-notifs{    position: absolute;    right: 0;    top: 0;    height: 16px;    width: 14px;}

}
