<!--
  Generated template for the BookingSuccess page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding no-bounce class="main">
				
	<h2 class="note">
		Thank you for broadcasting your job offer, we have notified artists and they will contact you shortly.
	</h2>
	<button ion-button color="secondary" round block large class="done-btn" (click)="done()">DONE</button>
	
</ion-content>
