booking-success {
	.main{background-image: url(../assets/img/verify.png); height: 100%; width:100%;background-size:cover; background-repeat:no-repeat;}


	.note{font-size:24px; padding-right: 30%; color:white; margin-top:0; padding-top: 50%}

	.done-btn{    position: absolute;    width: 250px;    height: 46px;    bottom: 100px;    margin: 0 auto;    display: block;    left: 0;    right: 0;}
}
