page-my-job-offer {
	.job-card{    border: 1px solid lightgray;}
	ion-card-header{padding:8px !important; border-bottom: 1px dashed gray; font-size: 12px !important;}
	
	ion-card-content.wip{ border-left: 10px solid  orange; }
		ion-card-content.wip.cancelled{border-color:  #f53d3d}
		ion-card-content.wip.open{border-color: #387ef5}
		ion-card-content.wip.completed{border-color: #32db64}

		ion-card-content > h2 { margin-top:10px !important}
			.tiny-txt{font-size: 12px; font-weight: bold}
			.italic{font-style: italic;}

		.scroll-content{overflow-y: auto !important;}

		.cancel-btn{    margin: 0;    padding: 0;    height: 16px;}

	#alert-icon{
		position: absolute;
	    right: 7px;
    	top: 24px;
	}
	#notif-alert{
		position: relative;
	}
}
