<!--
  Generated template for the MyJobOffer page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="dark">
    	<ion-title>My Job Offers</ion-title>
  	   <ion-buttons end>   
	      <button ion-button large clear color="light" (click)="dismiss()">
	        <ion-icon name="close" ></ion-icon>
	      </button>
       </ion-buttons>
 	</ion-navbar>
</ion-header>

<ion-content>
	<!-- still looking for artists -->
	<ion-card class="job-card" *ngFor="let jobs of open; let i = index" [attr.data-index]="i">
		<ion-card-header (click)="viewJob( jobs )">
			<ion-badge >Job Open</ion-badge> <ion-badge color="light" class="float-right tiny-txt"> Job ID #{{jobs.key}}</ion-badge>
		</ion-card-header>

		<ion-card-content class="wip open">
			<h2 (click)="viewJob( jobs )"> Looking for {{jobs.subcatId}} <span class="float-right tiny-txt "> {{dateFormat(jobs.date) | amTimeAgo}} {{dateFormat(jobs.date + " " + jobs.time) | date: ', h:mm: a'}}</span></h2>
			<h3 (click)="viewJob( jobs )"> &#x20B1; {{jobs.low}} - &#x20B1; {{jobs.high}} </h3>
			<h3> {{jobs.address}} <button ion-button clear small color="danger" class="float-right cancel-btn" (click)="cancelJob(jobs.key, jobs.subcatId, i)"> cancel </button></h3>
		</ion-card-content>
	</ion-card>

	

	<ion-card class="job-card" *ngFor="let jobsClosed of closed; let i = index" [attr.data-index]="i">
		<ion-card-header (click)="viewJob( jobsClosed )">
		<ion-badge color="orange">Closed Job</ion-badge> <ion-badge color="light" class="float-right tiny-txt"> Job ID #{{jobsClosed.key}}</ion-badge>
		</ion-card-header>

		<ion-card-content class="wip">
			<h2 (click)="viewJob( jobsClosed )"> Looking for {{jobsClosed.subcatId}} <span class="float-right tiny-txt ">
			{{dateFormat(jobsClosed.date) | amTimeAgo}} {{dateFormat(jobsClosed.date + " " + jobsClosed.time) | date: ', h:mm: a'}}</span></h2>
			<h3 (click)="viewJob( jobsClosed )"> &#x20B1; {{jobsClosed.low}} - &#x20B1; {{jobsClosed.high}} </h3>
			<p> {{jobsClosed.address}} <button ion-button clear small color="secondary" class="float-right cancel-btn" (click)="completeJob(jobsClosed.key, jobsClosed.hired.id, jobsClosed.subcatId, i)"> Complete </button></p>
		</ion-card-content>
	</ion-card>

	<!-- job is cancelled -->
	<ion-card class="job-card" *ngFor="let jobsCancelled of cancelled" (click)="viewJob( jobsCancelled )"> 
		<ion-card-header>
		<ion-badge color="danger">Job Cancelled</ion-badge> <ion-badge color="light" class="float-right tiny-txt"> Job ID #{{jobsCancelled.key}}</ion-badge>
		</ion-card-header>

		<ion-card-content class="wip cancelled">
			<h2> Search was cancelled. <span class="float-right tiny-txt ">  {{dateFormat(jobsCancelled.date + " " + jobsCancelled.time) | date: 'MMM d, y, h:mm: a'}}</span></h2>
		</ion-card-content>
	</ion-card>

	<!-- job compeleted -->
	<ion-card class="job-card" *ngFor="let jobsCompleted of completed; let i = index" [attr.data-index]="i">
		<ion-card-header>
		<ion-badge color="secondary">Job Completed</ion-badge> <ion-badge color="light" class="float-right tiny-txt"> Job ID #{{jobsCompleted.key}}</ion-badge>
		</ion-card-header>

		<ion-card-content class="wip completed">
			<h2 (click)="viewJob( jobsCompleted )">{{jobsCompleted.hired.profile?.name}} <span class="float-right tiny-txt "> {{dateFormat(jobsCompleted.date) | amTimeAgo}} {{dateFormat(jobsCompleted.date + " " + jobsCompleted.time) | date: ', h:mm: a'}}</span></h2>
			<h3 (click)="viewJob( jobsCompleted )"> &#x20B1; {{jobsCompleted.hired.bid}} </h3>
			<p> {{jobsCompleted.address}}</p>
			<ion-badge color="orange"><p (click)="viewJob( jobsCompleted )"> Review the artist for his job</p></ion-badge>
		</ion-card-content>
	</ion-card>

	<ion-card>
	    <ion-card-content *ngIf="!completed || !cancelled || !closed || !open" id="notif-alert">  
	      <h2>Open, Closed, Cancelled, Completed jobs go here </h2>
	      <ion-icon id="alert-icon" name="alert" color="danger" item-end></ion-icon>  
	    </ion-card-content>
	</ion-card>
			
</ion-content>
